table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    width: 20px;
    height: 10px;
    border: 1px solid black;
    text-align: center;
}
td[HOLA="S"] {
    background-color: #73ff00;
}
td[HOLA="G"] {
    background-color: blue;
}
td[HOLA="#"] {
    background-color: rgb(0, 0, 0);
}
td[HOLA="."] {
    background-color: rgb(202, 49, 49);
}
td[HOLA="+"] {
    background-color: rgb(0, 238, 255);
}

     
  
